.nav{
    display: flex;
list-style:none;
gap: 40px;
background-color: black;
padding: 9px;
margin: 10px;
font-size: 20px;
}
a{
    text-decoration: none;
    color: tomato;
}
a:hover{
    color: thistle;
    border:1px solid thistle;
    padding: 5px;

}
#btn{
    background-color: thistle;
    color: black;
    padding:7px;
    border-radius: 5px;
}
#btn:hover{
    color: whitesmoke;
    border: 2px;
    padding: 5px;
}